*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}



.wrapper {
     width: 100%;
    text-align: center;
}

.videoWrapper {
    margin: 0 auto;
    display: inline-block;
}

.transcript {
    margin: 0 auto;
    display: block;
    width: 800px;
    text-align: left;
}







